<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwh.mapper.CommentsMapper">
    <!--不能指定请求参数parameterType="Long"-->
    <select id="getCommentsByAid"  resultMap="BaseResultMap">
        select c.*,u.userface,u.nickname,u.username,u.email from comments c left join user u on c.uid=u.id where c.aid=#{aid} ORDER BY c.publishDate DESC limit #{start},#{count};
    </select>

    <select id="getCommentCount" resultType="int">
        SELECT count(*) FROM comments where aid=#{aid};
    </select>

    <delete id="deleteComment">
        delete from comments where id=#{id}
    </delete>

    <select id="getAllCommentCount" resultType="int">
        SELECT count(*) FROM comments c,user u,article a
        <where>
            <if test="keywords!=null">
                AND u.id=c.uid AND u.nickname LIKE concat('%',#{keywords},'%')
            </if>
            <if test="keywords1!=null">
                AND a.id=c.aid AND a.title LIKE concat('%',#{keywords1},'%')
            </if>
        </where>
    </select>

    <select id="getAllComments"  resultMap="BaseResultMap">
        select c.*,u.userface,u.nickname,u.username,u.email,a.title from comments c left join user u on c.uid=u.id left join article a on a.id=c.aid
        <where>
            <if test="keywords!=null">
                AND u.nickname LIKE concat('%',#{keywords},'%')
            </if>
            <if test="keywords1!=null">
                AND a.title LIKE concat('%',#{keywords1},'%')
            </if>
        </where>
         ORDER BY c.publishDate DESC limit #{start},#{count};
    </select>

    <delete id="deleteCommentByIds" >
        delete from comments where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <resultMap id="BaseResultMap" type="com.lwh.bean.Comments">
        <id column="id" property="id"/>
        <result column="aid" property="aid"/>
        <result column="content" property="content"/>
        <result column="publishDate" property="publishDate"/>
        <result column="uid" property="uid"/>
        <result column="userface" property="userface"/>
        <result column="nickname" property="nickname"/>
        <result column="username" property="username"/>
        <result column="email" property="email"/>
        <result column="title" property="title"/>
    </resultMap>
</mapper>